@import "../../styles/variables.scss";

iframe {
  // Format 16/9
  height: 28vw;
  width: 50vw;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid $black-color;
  background: $black-color;

  @include tablet-only {
    height: 45vw;
    width: calc(80vw - 12px); // 80% - scrollbar
    margin-top: 0;
  }
}

.celestia-view {
  .world-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet-only {
      flex-direction: column;
    }
  }

  .world-left {
    width: 45%;
    padding: 0 20px;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    background: $black-color;

    @include tablet-only {
      width: 100%;
      margin-top: 20px;
    }

    &.zone-element {
      width: 50vh;
      max-width: 440px;

      @include tablet-only {
        width: 100%;
        max-width: none;
      }
    }
  }

  .world-right {
    width: 45%;
    margin-right: 10%;

    @include tablet-only {
      width: 100%;
      margin-right: 0;
    }

    .world-icons {
      text-align: right;

      @include tablet-only {
        text-align: center;
      }
    }

    .world-map {
      height: 50vh;
      width: 50vh;
      max-height: 440px;
      max-width: 440px;
      padding: 0;

      @include tablet-only {
        height: auto;
        width: 100%;
        max-height: 440px;
        max-width: 440px;
        margin: auto;
      }
    }
  }
}
