@import "../../styles/variables.scss";

iframe {
  // Format 16/9
  height: 28vw;
  width: 50vw;
  margin-bottom: 2rem;
  border-radius: $radius;
  border: 0.2rem solid $black-color;
  background: $black-color;

  @include tablet-only {
    height: 45vw;
    width: calc(80vw - 1.2rem); // 80% - scrollbar
    margin-top: 0;
  }
}

.celestia-view {
  .world-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet-only {
      flex-direction: column;
    }
  }

  .world-left {
    width: 45%;
    padding: 0 2rem;
    text-align: left;
    overflow: hidden;
    border-radius: $radius;
    border: $border;
    background: $background-black-dark;

    @include tablet-only {
      width: 100%;
      margin-top: 2rem;
    }
  }

  .world-right {
    width: 45%;
    margin-right: 10%;

    @include tablet-only {
      width: 100%;
      margin-right: 0;
    }

    .world-icons {
      text-align: right;

      @include tablet-only {
        text-align: center;
      }
    }

    .world-map {
      height: 50vh;
      width: 50vh;
      max-height: 44rem;
      max-width: 44rem;
      padding: 0;

      @include tablet-only {
        height: auto;
        width: 100%;
        max-height: 44rem;
        max-width: 44rem;
        margin: auto;
      }
    }
  }

  .quizz-question {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-m;
    min-height: 8rem;
    min-width: 50%;
    margin-top: $spacing-m;
    margin-bottom: $spacing-m;

    &.multiple {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet-only {
      min-height: 10rem;
      min-width: 100%;
    }

    @include mobile-only {
      min-height: auto;
    }

    .quizz-answer {
      display: flex;
      align-items: center;
      text-align: left;
      cursor: pointer;

      label {
        margin-left: $spacing-m;
        margin-right: $spacing-m;
        cursor: pointer;
        user-select: none;
      }

      @include mobile-only {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        input[type="radio"] {
          margin-bottom: $spacing-m;
        }
      }
    }
  }
}
