@import "@/styles/variables.scss";

.link {
  position: relative;
  display: inline-block;
  height: 4rem;
  padding: 0 2rem;
  line-height: 4rem;
  font-size: $font-size-m;
  font-family: $sans-serif-font;
  text-transform: uppercase;
  transition: 0.5s;

  &:hover,
  &:not(.exact-link).router-link-active,
  &.exact-link.router-link-exact-active {
    color: $secondary-color;
  }
}

.link-button {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  font-size: $font-size-m;
  font-family: $sans-serif-font;
  line-height: $font-size-m;
  text-align: center;
  text-transform: uppercase;
  color: $light-secondary-color;
  border-radius: 0.5rem;
  border: 0.1rem solid $secondary-color;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $background-black-light;
  }

  &.alert-button {
    color: $warning-color;
    border: 0.1rem solid $warning-color;
  }

  &:disabled,
  &:disabled:hover {
    color: $warning-color;
    border: 0.1rem solid $warning-color;
    background-color: $background-black-light !important;
    cursor: default;
  }
}

.select-button {
  height: 3.6rem;
  width: 3.6rem;
  min-width: 3.6rem;
  margin: 0 1rem;
  line-height: 3.6rem;
  text-align: center;
  border-radius: 50%;
  border: 0.2rem solid $white-color;
  background-color: $background-black-dark;
  cursor: pointer;

  &.inverted {
    transform: scaleX(-1);
  }
}

.section-moreinfos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 3;
  font-style: italic;
  color: $secondary-color;

  @include mobile-only {
    flex-direction: column;
  }

  p {
    flex: 1;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  &.grid-2 {
    grid-template-columns: repeat(2, 1fr);

    @include mobile-only {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &.grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  @include tablet-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile-only {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-element {
    display: flex;
    width: 100%;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid;
    border-radius: 0.5rem;
    border-color: $secondary-color;
    border-spacing: 0;
    background: $background-black-dark;

    img {
      height: 6rem;
      width: 6rem;
      margin-right: 1rem;
      border: 0.1rem solid $secondary-color;
      pointer-events: none;
    }

    .grid-header {
      margin-bottom: 1rem;
      font-family: $serif-font;
      color: $secondary-color;
      text-transform: uppercase;
    }

    .grid-body {
      margin: 0;
      font-size: $font-size-m;
    }
  }
}

.power-img-layout {
  position: relative;
  height: 4rem;
  min-width: 4rem;

  &.after::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 3.2rem;
    width: 3.2rem;
    border: 0.1rem solid $secondary-color;
    transform: translate(-50%, -50%) rotate(-45deg);
    content: "";
  }

  &.before::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 3.6rem;
    width: 3.6rem;
    border: 0.1rem solid $secondary-color;
    transform: translate(-50%, -50%);
    content: "";
  }

  .power-img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    height: 3.2rem;
    width: 3.2rem;
    border: 0.1rem solid $secondary-color;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .power-img-ok {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    height: 3.2rem;
    width: 3.2rem;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.power-img-layout.big {
  height: 16rem;
  min-width: 16rem;

  &.after::after {
    height: 12.8rem;
    width: 12.8rem;
  }

  &.before::before {
    height: 14.4rem;
    width: 14.4rem;
  }

  .power-img {
    height: 12.8rem;
    width: 12.8rem;
  }

  .power-img-ok {
    height: 12.8rem;
    width: 12.8rem;
  }
}
