.creation-elements-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @include mobile-only {
        flex-direction: column;
    }
}

.creation-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    span {
        margin-bottom: 5px;
    }
}

.creation-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    background: $background-black-dark;
    overflow: hidden;
    cursor: pointer;

    img {
        height: 200px;
        width: 200px;
    }
}

.creation-radios {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    .creation-radio {
        display: flex;
        align-items: center;
        width: 50%;
        padding: 10px 0;
        text-align: left;
        cursor: pointer;
    }
}
