.form-row {
    display: flex;
    width: 100%;

    .form-col-75 {
        width: 75%;
    }

    .form-col-50 {
        width: 50%;
    }

    .form-col-33 {
        width: 33.33%;
    }

    .form-col-25 {
        width: 25%;
    }
}
