.form-row {
    display: flex;
    width: 100%;

    .form-col-75 {
        width: 75%;
    }

    .form-col-50 {
        width: 50%;
    }

    .form-col-33 {
        width: 33.33%;
    }

    .form-col-25 {
        width: 25%;
    }
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

    > span {
        margin-bottom: 5px;
    }

    input[type="text"] {
        width: calc(100% - 20px);
    }
}
