.selection-container {
    position: absolute;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);

    .dotline {
        height: 60px;
        width: 1px;
        background-color: $white-color;
    }

    .dot {
        position: relative;
        display: inline-block;
        height: 20px;
        min-width: 20px;
        width: 20px;
        margin: 0;
        padding: 4px;
        border-radius: 50%;
        border: 1px solid $white-color;
        background-color: $background-black-light;
        transition: 1s ease;
        cursor: pointer;

        &.active {
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 4px;
                border-radius: 50%;
                background-clip: content-box;
                background-color: $light-secondary-color;
                content: "";
            }
        }

        &.warning {
            border: 1px solid $warning-color;
        }
    }
}

.celestia-creation-steps.selection-container {
    @include tablet-only {
        display: none;
    }

    .dot {
        margin: 4px;
        border-radius: 0;
        transform: rotate(45deg);
        cursor: default;

        &.active {
            &::after {
                border-radius: 0 !important;
            }
        }
    }

    .dotline {
        height: 20px;
    }
}
