.selection-container {
    position: absolute;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);

    .dotline {
        height: 6rem;
        width: 0.1rem;
        background-color: $white-color;
    }

    .dot {
        position: relative;
        display: inline-block;
        height: 2rem;
        min-width: 2rem;
        width: 2rem;
        margin: 0;
        padding: 0.4rem;
        border-radius: 50%;
        border: 0.1rem solid $white-color;
        background-color: $background-black-light;
        transition: 1s ease;
        cursor: pointer;

        &.active {
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0.4rem;
                border-radius: 50%;
                background-clip: content-box;
                background-color: $light-secondary-color;
                content: "";
            }
        }

        &.warning {
            border: 0.1rem solid $warning-color;
        }
    }
}

.celestia-steps.selection-container {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: center;
    transform: none;

    .dotline {
        height: 0.1rem;
        min-width: 2rem;
    }

    @include tablet-only {
        .dot {
            height: 1.4rem;
            min-width: 1.4rem;
            width: 1.4rem;
            margin: 0.2rem;
        }

        .dotline {
            height: 0.1rem;
            min-width: 1.2rem;
        }
    }

    @include mobile-only {
        display: none;
    }
}

.creation-steps.selection-container {
    @include tablet-only {
        display: none;
    }

    .dot {
        margin: 0.4rem;
        border-radius: 0;
        transform: rotate(45deg);
        cursor: default;

        &.active {
            &::after {
                border-radius: 0 !important;
            }
        }
    }

    .dotline {
        height: 2rem;
    }
}
