.side-menu {
    position: absolute;
    top: 0;
    padding: 0;
    border-top: none !important;
    border-radius: 0 0 5px 5px;
    border: 1px solid $secondary-color;
    background: $black-color;
    overflow: auto;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0 0 5px 5px;
    }

    .side-list {
        display: flex;
        flex-direction: row;

        .side-element {
            padding: 5px 10px;

            &.selected {
                background: $secondary-color;
            }

            img {
                height: 40px;
                width: 40px;
                border: 1px solid $secondary-color;
                background: $black-color;
                pointer-events: all;
                cursor: pointer;
            }
        }
    }
}
