.side-menu {
    position: absolute;
    top: 0;
    padding: 0;
    border-top: none !important;
    border-radius: 0 0 $radius $radius;
    border: $border;
    background: $black-color;
    overflow: auto;

    &::-webkit-scrollbar {
        height: $spacing-s;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0 0 $radius $radius;
    }

    .side-list {
        display: flex;
        flex-direction: row;

        .side-element {
            padding: $spacing-xs $spacing-m;

            &.selected {
                background: $secondary-color;
            }

            img {
                height: 2.5rem;
                width: 2.5rem;
                border: $border;
                background: $black-color;
                pointer-events: all;
                cursor: pointer;
            }
        }
    }
}
