.table-large {
    .tbody {
        height: 50vh;
    }

    @include mobile-only {
        display: none;
    }
}

.line-table {
    &:hover {
        background-color: rgba($white-color, 0.2) !important;
    }

    &.selected {
        background-color: rgba($white-color, 0.2) !important;
    }

    td {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 50px;
        pointer-events: none;
    }

    p {
        text-align: left;
        font-style: italic;
        margin: 10px;
    }
}
