.table-line {
    &:hover {
        background-color: rgba($white-color, 0.2) !important;
    }

    &.selected {
        background-color: rgba($white-color, 0.2) !important;
    }

    td {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 2rem;
        pointer-events: none;
    }

    p {
        text-align: left;
        margin: $spacing-m;
    }
}

.table-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% + $spacing-m);
    margin: 0 calc(0rem - $spacing-m / 2);

    .table-separator-line {
        display: block;
        height: 0.1rem;
        width: 100%;
        background: $secondary-color;
    }

    .table-separator-title {
        display: block;
        width: fit-content;
        margin: $spacing-m auto;
        padding: 0 $spacing-m;
        text-transform: uppercase;
        white-space: nowrap;
        border: $border;
        background: $black-color;
    }
}
