.zone-element {
    min-height: 52.5rem;
    max-height: 52.5rem;
    overflow-y: scroll !important;

    &.zone-element-free {
        min-height: auto;
        max-height: none;
        width: 50%;
        margin: auto;

        @include tablet-only {
            width: 100%;
        }
    }

    &.zone-element-semifree {
        min-height: auto;
    }

    @include mobile-only {
        min-height: auto;
        max-height: none;
    }

    &::-webkit-scrollbar {
        width: $spacing-s;
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $radius;
    }

    .zone-image {
        height: 100%;
        width: 100%;
        margin-top: $spacing-m;
        border-bottom: $border;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

        @include tablet-only {
            display: none;
        }
    }

    .zone-icon {
        height: 8rem !important;
        width: 8rem !important;
        border: $border;

        &.is-little {
            height: 4rem !important;
            width: 4rem !important;
        }
    }

    .zone-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .zone-header-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .zone-image + .zone-header-buttons {
        margin-top: 0;
        border-top: $border;

        @include tablet-only {
            border-top: none;
        }
    }

    .zone-description {
        padding: $spacing-m;
        overflow-y: auto;
        border-top: $border;
        border-bottom: $border;

        .zone-description-bloc {
            margin-bottom: $spacing-m;

            span:first-child {
                font-weight: bold;
            }
        }
    }

    .zone-comment {
        color: $secondary-color;
        text-align: center;
        font-style: italic;
    }
}
