.zone-element {
    min-height: 52.5rem;
    max-height: 52.5rem;
    overflow-y: scroll !important;

    &.zone-element-free {
        min-height: auto;
        max-height: none;
        width: 50%;
        margin: auto;

        @include tablet-only {
            width: 100%;
        }
    }

    &.zone-element-semifree {
        min-height: auto;
    }

    @include mobile-only {
        min-height: auto;
        max-height: none;
    }

    &::-webkit-scrollbar {
        width: 0.6rem;
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
    }

    .zone-image {
        height: 100%;
        width: 100%;
        margin-top: 2rem;
        border-bottom: 0.1rem solid $secondary-color;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

        @include tablet-only {
            display: none;
        }
    }

    .zone-icon {
        height: 10rem !important;
        width: 10rem !important;
        border: 0.1rem solid $secondary-color;

        &.is-little {
            height: 5rem !important;
            width: 5rem !important;
        }
    }

    .zone-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .zone-header-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .zone-image + .zone-header-buttons {
        margin-top: 0;
        border-top: 0.1rem solid $secondary-color;

        @include tablet-only {
            border-top: none;
        }
    }

    .zone-description {
        padding: 1rem;
        overflow-y: auto;
        border-top: 0.1rem solid $secondary-color;
        border-bottom: 0.1rem solid $secondary-color;

        .zone-description-bloc {
            margin-bottom: 1rem;

            span:first-child {
                font-weight: bold;
            }
        }
    }

    .zone-comment {
        color: $secondary-color;
        text-align: center;
        font-style: italic;
    }
}
