@import "../../styles/variables.scss";

.world-view {
  .world-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet-only {
      flex-direction: column-reverse;
    }
  }

  .world-left {
    min-height: 40vw;
    max-height: 40vw;
    width: 35%;
    padding: 0 2rem;
    text-align: left;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 0.1rem solid $secondary-color;
    background: $background-black-dark;

    @include tablet-only {
      min-height: auto;
      max-height: none;
      width: 100%;
      margin-top: 2rem;
    }
  }

  .world-right {
    width: 60%;
    margin-left: 5%;

    @include tablet-only {
      width: 100%;
      margin-left: 0;
    }

    .world-title {
      margin: 0 1rem;
      text-align: center;
    }

    .world-map-section {
      position: relative;

      .world-map {
        width: 100%;
        padding: 0;
      }

      .world-map-target {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.75vw;
        filter: drop-shadow(0 0 0.4rem $black-color);
        transform: translate(-50%, -50%);
      }
    }
  }
}
