@import "../../styles/variables.scss";

.world-view {
  .world-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet-only {
      flex-direction: column-reverse;
    }
  }

  .world-left {
    min-height: 80vh;
    max-height: 80vh;
    width: 35%;
    padding: 20px;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    background: $black-color;

    @include tablet-only {
      min-height: auto;
      max-height: none;
      width: 100%;
      margin-top: 20px;
    }
  }

  .world-right {
    width: 60%;
    margin-left: 5%;

    @include tablet-only {
      width: 100%;
      margin-left: 0;
    }

    .world-title {
      margin: 0 10px;
      text-align: center;
    }

    .world-map {
      width: 100%;
      padding: 0;
    }
  }
}
