@import "../../styles/variables.scss";

.world-view {
  .world-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet-only {
      flex-direction: column-reverse;
    }
  }

  .world-left {
    min-height: 80vh;
    max-height: 80vh;
    width: 35%;
    padding: 20px;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    background: $black-color;

    @include tablet-only {
      width: 100%;
      margin-top: 20px;
    }

    .zone-image {
      height: 100%;
      width: 100%;
      border-bottom: 1px solid $secondary-color;
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

      @include tablet-only {
        display: none;
      }
    }

    .zone-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $secondary-color;

      @include tablet-only {
        border-top: none;

        h2 {
          margin-top: 0;
        }
      }
    }

    .zone-description {
      min-height: 300px;
      max-height: 300px;
      padding: 10px;
      overflow-y: auto;
      border-top: 1px solid $secondary-color;
      border-bottom: 1px solid $secondary-color;

      @include tablet-only {
        max-height: 250px;
      }
    }

    .zone-comment {
      color: $secondary-color;
      text-align: center;
      font-style: italic;
    }

    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-track {
      background: none;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
    }
  }

  .world-right {
    width: 60%;
    margin-left: 5%;

    @include tablet-only {
      width: 100%;
      margin-left: 0;
    }

    .world-title {
      margin: 0 10px;
      text-align: center;
    }

    .world-map {
      width: 100%;
      padding: 0;
    }
  }
}
