@import "../../../styles/variables.scss";

.religion-view {
  .religion-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 20px;
    justify-content: center;

    @include mobile-only {
      grid-template-columns: repeat(5, 1fr);
    }

    img {
      height: 9vw;
      max-height: 140px;
      width: 9vw;
      max-width: 140px;
      margin: auto;
      cursor: pointer;
    }
  }

  .religion-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 225px;
    max-height: 225px;
    width: 70%;
    margin: auto;
    overflow: auto;
    text-align: center;

    @include tablet-only {
      width: 100%;
    }

    @include mobile-only {
      height: auto;
      max-height: fit-content;
    }

    p {
      margin-top: 10px;
      color: $secondary-color;
      font-style: italic;
    }
  }

  .religion-text {
    width: 70%;
    margin: auto;

    @include tablet-only {
      width: 100%;
    }
  }
}
