@import "../../../styles/variables.scss";

.religion-view {
  .religion-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: $spacing-m;
    justify-content: center;

    @include mobile-only {
      grid-template-columns: repeat(5, 1fr);
    }

    img {
      height: 8vw;
      max-height: 10rem;
      width: 8vw;
      max-width: 10rem;
      margin: auto;
      cursor: pointer;

      @include mobile-only {
        height: 14vw;
        width: 14vw;
      }
    }
  }

  .religion-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    max-height: 20rem;
    width: 70%;
    margin: auto;
    overflow: auto;
    text-align: center;

    @include tablet-only {
      width: 100%;
    }

    @include mobile-only {
      height: auto;
      max-height: fit-content;
    }

    .religion-comment {
      margin-top: $spacing-m;
      color: $secondary-color;
      font-style: italic;
    }
  }

  .religion-text {
    width: 70%;
    margin: auto;

    @include tablet-only {
      width: 100%;
    }
  }
}
