@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5lih3y');
  src:  url('fonts/icomoon.eot?5lih3y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5lih3y') format('truetype'),
    url('fonts/icomoon.woff?5lih3y') format('woff'),
    url('fonts/icomoon.svg?5lih3y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stack:before {
  content: "\e92e";
}
.icon-user:before {
  content: "\e971";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
