@import "../../styles/variables.scss";

.toggle-button {
	display: inline-flex;
	align-items: center;

	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		height: 2.8rem;
		min-width: 4.8rem;
		width: 4.8rem;
	}

	/* Hide default HTML checkbox */
	.switch input {
		height: 0;
		width: 0;
		opacity: 0;
	}

	.switch-text {
		margin-left: 1rem;
	}

	/* The slider */
	.slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: $border;
		background-color: $background-black-dark;
		transition: 0.4s;
		cursor: pointer;
	}

	.slider:before {
		position: absolute;
		left: 0.4rem;
		bottom: 0.4rem;
		height: 1.8rem;
		width: 1.8rem;
		background-color: $white-color;
		transition: 0.4s;
		content: "";
	}

	input:checked + .slider {
		background-color: $secondary-color;
	}

	input:checked + .slider:before {
		transform: translateX(2rem);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 1.4rem;
	}

	.slider.round:before {
		border-radius: 50%;
	}
}
