@import "../../../styles/variables.scss";

.speciality-view {
  min-height: calc(75vh + 100px);

  img {
    height: 125px;
    border: 1px solid $secondary-color;
    background: $black-color;

    &.rounded {
      height: 75px;
      border-radius: 50%;

      @include tablet-only {
        height: 50px;
      }
    }

    @include tablet-only {
      height: 75px;
    }
  }

  .speciality-layout {
    display: flex;

    .speciality-center {
      display: flex;
      align-items: center;

      @include tablet-only {
        padding: 10px;
      }

      > * {
        width: 33.33%;
        margin: 10px 0;
      }
    }

    .speciality-separator {
      height: 100%;
      width: 1px;
      margin: 0 25px;
      background: $secondary-color;

      @include tablet-only {
        margin: 0 10px;
      }
    }

    .speciality-left {
      width: calc(75% - 10px);
      margin-right: 10px;
    }

    .speciality-right {
      width: 25%;
    }
  }

  .skill-line {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .skill-img {
      height: 40px;
      margin-right: 10px;
    }

    .skill-txt {
      text-align: left;
    }
  }
}
