@import "../../../styles/variables.scss";

.speciality-view {
  min-height: calc(75vh + 100px);

  img {
    height: 125px;
    border: 1px solid $secondary-color;
    background: $black-color;

    &.rounded {
      height: 75px;
      border-radius: 50%;

      @include tablet-only {
        height: 50px;
      }
    }

    @include tablet-only {
      height: 75px;
    }
  }

  .speciality-layout {
    display: flex;

    .speciality-center {
      display: flex;
      align-items: center;

      @include tablet-only {
        padding: 10px;
      }

      .speciality-section-top {
        width: 33.33%;
        margin: 10px 0;
      }
    }

    .speciality-left {
      width: calc(66.66% - 5px);
      margin-right: 5px;
    }

    .speciality-right {
      width: calc(33.33% - 5px);
      margin-left: 5px;
    }
  }

  .speciality-separator {
    height: 100%;
    width: 1px;
    margin: 0 25px;
    background: $secondary-color;

    @include tablet-only {
      margin: 0 10px;
    }
  }

  .skill-separator {
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background: $secondary-color;
  }

  .ability-line,
  .skill-line {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .ability-img,
    .skill-img {
      height: 40px;
      margin-right: 10px;
    }

    .ability-txt,
    .skill-txt {
      text-align: left;
    }
  }

  .skills-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 24px;
    padding: 15px 0;
    border: 1px solid $secondary-color;

    @include tablet-only {
      grid-template-columns: repeat(1, 1fr);
    }

    .skills-content-title {
      position: absolute;
      top: -10px;
      left: 20px;
      padding: 0 10px;
      text-transform: uppercase;
      background: $black-color;
    }

    .skill-line {
      width: auto;
      margin: 0;
      padding: 0 10px;

      &.selected {
        color: $black-color;
        background: $secondary-color;
      }

      .skill-name {
        text-align: left;
      }
    }
  }
}
