@import "../../../styles/variables.scss";

.magic-view {
  .magic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include mobile-only {
      flex-direction: column;
    }
  }

  .magic-items {
    margin-top: 2rem;
    width: 100%;
  }

  .magic-left {
    width: 40%;

    @include mobile-only {
      margin-top: 2rem;
      width: 80%;
    }
  }

  .magic-right {
    width: 60%;
    display: flex;
    flex-direction: column;

    @include mobile-only {
      width: 100%;
      margin-top: 2rem;
      text-align: center;
    }
  }

  .magic-imgs {
    position: relative;
    height: 30vw !important;
    width: 30vw !important;
    max-height: 46rem;
    max-width: 46rem;
    margin: auto;

    @include mobile-only {
      height: 50vw !important;
      width: 50vw !important;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 30vw !important;
      width: 30vw !important;
      max-height: 46rem;
      max-width: 46rem;

      @include mobile-only {
        height: 50vw !important;
        width: 50vw !important;
      }
    }

    .crystal-main {
      animation: 3s infinite alternate animMain;
    }

    .crystal-data01 {
      opacity: 0;
      animation:
        3s infinite alternate animMain,
        6s infinite alternate animData;
    }

    .crystal-data02 {
      opacity: 0;
      animation:
        3s infinite alternate animMain,
        4s 2s infinite alternate animData;
    }

    .crystal-data03 {
      opacity: 0;
      animation:
        3s infinite alternate animMain,
        6s 4s infinite alternate animData;
    }

    @keyframes animMain {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-5rem);
      }
    }

    @keyframes animData {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      40% {
        opacity: 0;
      }
      60% {
        opacity: 1;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
