@import "../../styles/variables.scss";

.popup-zone {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: $background-black-dark;

	.popup-bloc {
		max-height: 90vh;
		width: 50vw;
		margin: 5vh auto;
		border: 1px solid $light-secondary-color;
		background: $black-color;

		.popup-bloc-header {
			display: flex;
			justify-content: space-between;
			padding: 15px 20px;
			border-bottom: 1px solid $light-secondary-color;
		}

		.popup-bloc-content {
			display: block;
			text-align: center;
			padding: 15px 20px;
			overflow: auto;
		}

		.popup-bloc-footer {
			display: flex;
			justify-content: center;
			padding: 15px 20px;
			border-top: 1px solid $light-secondary-color;
		}
	}
}
