.background,
.background-universe,
.background-universe-black,
.background-universe-vertical,
.background-roleplay,
.background-roleplay-black,
.background-celestia {
    &::after {
        content: "";
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;

        background-position: center;
        background-size: cover;
    }
}

.background::after {
    background-image: linear-gradient(
            135deg,
            rgba($black-color, 1),
            rgba($black-color, 0.75),
            rgba($black-color, 0.5),
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.5)
        ),
        url("./assets/images/home_00.png");
}

.background-universe::after {
    background-image: linear-gradient(
            135deg,
            rgba($black-color, 1),
            rgba($black-color, 0.75),
            rgba($black-color, 0.5),
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.5)
        ),
        url("./assets/images/home_01.png");
}

.background-universe-black::after {
    background-image: linear-gradient(0deg, rgba($black-color, 0.8), rgba($black-color, 0.8)),
        url("./assets/images/home_01.png");
}

.background-universe-vertical::after {
    background-image: linear-gradient(
            0deg,
            rgba($black-color, 1),
            rgba($black-color, 0.75),
            rgba($black-color, 0.5),
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.5)
        ),
        url("./assets/images/home_01.png");
}

.background-roleplay::after {
    background-image: linear-gradient(
            -45deg,
            rgba($black-color, 1),
            rgba($black-color, 0.75),
            rgba($black-color, 0.5),
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.5)
        ),
        url("./assets/images/home_02.png");
}

.background-roleplay-black::after {
    background-image: linear-gradient(0deg, rgba($black-color, 0.8), rgba($black-color, 0.8)),
        url("./assets/images/home_02.png");
}

.background-celestia::after {
    background-image: linear-gradient(
            135deg,
            rgba($black-color, 1),
            rgba($black-color, 0.75),
            rgba($black-color, 0.5),
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.5)
        ),
        url("./assets/images/home_03.png");
}
