@import "@/styles/variables.scss";

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &.without-height {
    height: auto;
  }
}

#app-content {
  height: 100%;
  overflow: auto;
}

.is-relative {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.margin-top-2 {
  margin-top: 2rem !important;
}

.margin-top-1 {
  margin-top: 1rem !important;
}

.margin-top-05 {
  margin-top: 0.5rem !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.margin-bottom-05 {
  margin-bottom: 0.5rem !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-right-05 {
  margin-right: 0.5rem !important;
}

.margin-right-1 {
  margin-right: 1rem !important;
}

.margin-left-05 {
  margin-left: 0.5rem !important;
}

.margin-left-1 {
  margin-left: 1rem !important;
}

.text-bold {
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lower {
  text-transform: lowercase;
}

.full-opacity {
  opacity: 1 !important;
}

.mid-opacity {
  opacity: 0.3;
}

.text-secondary {
  color: $secondary-color;
}

.text-red {
  color: $red-color;
}

.text-orange {
  color: $orange-color;
}

.text-yellow {
  color: $yellow-color;
}

.text-green {
  color: $green-color;
}

.text-turquoise {
  color: $turquoise-color;
}

.text-cyan {
  color: $cyan-color;
}

.text-ocean {
  color: $ocean-color;
}

.text-blue {
  color: $blue-color;
}

.text-violet {
  color: $violet-color;
}

.text-pink {
  color: $pink-color;
}

.text-grey {
  color: $grey-color;
}

.img-rounded {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.hide-on-mobile {
  @include mobile-only {
    display: none !important;
  }
}

.show-on-mobile {
  display: none !important;

  @include mobile-only {
    display: block !important;
  }
}

.show-on-mobile-alert {
  display: none !important;

  @include mobile-only {
    display: block !important;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: $warning-color;
  }
}
