@import "@/styles/variables.scss";

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &.without-height {
    height: auto;
  }
}

#app-content {
  height: 100%;
  overflow: auto;
}

.margin-top-2 {
  margin-top: 32px !important;
}

.margin-top-1 {
  margin-top: 16px !important;
}

.margin-top-05 {
  margin-top: 8px !important;
}

.margin-bottom-1 {
  margin-bottom: 16px !important;
}

.margin-bottom-05 {
  margin-bottom: 8px !important;
}

.margin-right-05 {
  margin-right: 8px;
}

.margin-left-05 {
  margin-left: 8px;
}

.text-bold {
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lower {
  text-transform: lowercase;
}

.text-red {
  color: $red-color;
}

.text-orange {
  color: $orange-color;
}

.text-yellow {
  color: $yellow-color;
}

.text-green {
  color: $green-color;
}

.text-turquoise {
  color: $turquoise-color;
}

.text-cyan {
  color: $cyan-color;
}

.text-ocean {
  color: $ocean-color;
}

.text-blue {
  color: $blue-color;
}

.text-violet {
  color: $violet-color;
}

.text-pink {
  color: $pink-color;
}

.text-grey {
  color: $grey-color;
}

.img-rounded {
  border-radius: 50%;
}
