@import "@/styles/variables.scss";

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &.without-height {
    height: auto;
  }
}

#app-content {
  height: 100%;
  overflow: auto;
}

.margin-top-1 {
  margin-top: 16px !important;
}

.margin-bottom-1 {
  margin-bottom: 16px !important;
}

.margin-left-05 {
  margin-left: 8px;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lower {
  text-transform: lowercase;
}

.text-cyan {
  color: $cyan-color;
}

.text-green {
  color: $green-color;
}

.text-yellow {
  color: $yellow-color;
}

.text-red {
  color: $red-color;
}

.img-rounded {
  border-radius: 50%;
}

.link {
  position: relative;
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: 0.5s;

  &:hover,
  &:not(.exact-link).router-link-active,
  &.exact-link.router-link-exact-active {
    color: $secondary-color;
  }
}

.link-button {
  display: inline-block;
  width: fit-content;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  color: $light-secondary-color;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  background-color: rgba($black-color, 0.2);
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgba($white-color, 0.1);
  }

  &:disabled,
  &:disabled:hover {
    color: $warning-color;
    border: 1px solid $warning-color;
    background-color: rgba($black-color, 0.2) !important;
    cursor: default;
  }
}

.bloc-text {
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 5px;
  border-color: $secondary-color;
  background: $black-color;
}

.selection-container {
  position: absolute;
  top: 50%;
  right: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(-50%);

  &.inverted {
    top: 40%;

    @include tablet-only {
      position: relative;
      right: auto;
      top: auto;
      margin-top: 20px;
      flex-direction: row;
      transform: none;

      .dotline {
        height: 1px;
        width: 60px;
      }
    }

    @include mobile-only {
      .dotline {
        height: 1px;
        width: 20px;
      }
    }
  }

  .dotline {
    height: 60px;
    width: 1px;
    background-color: $white-color;
  }

  .dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 4px;
    cursor: pointer;

    background-color: none;
    border-radius: 50%;
    border: 1px solid $white-color;
    transition: 1s ease;

    &.active {
      background-clip: content-box;
      background-color: $light-secondary-color;
    }
  }
}

.creation-elements-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @include mobile-only {
    flex-direction: column;
  }
}

.creation-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;

  span {
    margin-bottom: 5px;
  }
}

.creation-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  overflow: hidden;
  cursor: pointer;

  img {
    height: 200px;
    width: 200px;
  }
}

.table-large {
  @include mobile-only {
    display: none;
  }
}

.table-large-alert {
  display: none;

  @include mobile-only {
    display: block;
    width: 100%;
    margin: 10px;
    padding: 5px;
    color: $warning-color;
    border-spacing: 0;
  }
}

.line-table {
  &:hover {
    background-color: rgba($white-color, 0.2) !important;
  }

  &.to-select {
    cursor: pointer;
  }

  &.selected {
    background-color: rgba($white-color, 0.2) !important;
  }

  img {
    height: 50px;
  }

  p {
    text-align: left;
    font-style: italic;
    margin: 10px;
  }
}

.docs-grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include tablet-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile-only {
    grid-template-columns: repeat(1, 1fr);
  }

  .docs-grid-element {
    display: flex;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    border-color: $secondary-color;
    border-spacing: 0;
    background: $black-color;

    img {
      height: 60px;
      width: 60px;
      margin-right: 10px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
