[separator] {
	height: 12px;
	margin-top: 15px;
	margin-bottom: 10px;
	border-top: 5px solid $secondary-color;
	border-bottom: 1px solid $light-secondary-color;
}

[little-separator] {
	height: 12px;
	border-top: 5px solid $secondary-color;
	border-bottom: 1px solid $light-secondary-color;
}

[required-libelle] {
	color: $warning-color;
}
