[separator] {
	height: $spacing-m;
	margin-top: $spacing-m;
	margin-bottom: $spacing-m;
	border-top: 0.5rem solid $secondary-color;
	border-bottom: 0.1rem solid $light-secondary-color;
}

[little-separator] {
	height: $spacing-m;
	border-top: 0.5rem solid $secondary-color;
	border-bottom: 0.1rem solid $light-secondary-color;
}

[required-libelle] {
	color: $warning-color;
}
