@import "@/styles/variables.scss";

.link {
  position: relative;
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: $font-size-m;
  font-family: $sans-serif-font;
  text-transform: uppercase;
  transition: 0.5s;

  &:hover,
  &:not(.exact-link).router-link-active,
  &.exact-link.router-link-exact-active {
    color: $secondary-color;
  }
}

.link-button {
  display: inline-block;
  width: fit-content;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  color: $light-secondary-color;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $background-black-light;
  }

  &:disabled,
  &:disabled:hover {
    color: $warning-color;
    border: 1px solid $warning-color;
    background-color: $background-black-light !important;
    cursor: default;
  }
}

.select-button {
  height: 36px;
  width: 36px;
  min-width: 36px;
  margin: 0 10px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid $white-color;
  background-color: $background-black-dark;
  cursor: pointer;

  &.inverted {
    transform: scaleX(-1);
  }
}

.bloc-text {
  line-height: 1.5;
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 5px;
  border-color: $secondary-color;
  background: $background-black-dark;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}

.selection-container {
  position: absolute;
  top: 50%;
  right: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(-50%);

  &.inverted {
    .dot {
      margin: 4px;
      border-radius: 0;
      transform: rotate(45deg);
      cursor: default;
    }

    .dotline {
      height: 42px;
    }

    @include tablet-only {
      position: relative;
      right: auto;
      top: auto;
      margin-top: 20px;
      flex-direction: row;
      transform: none;

      .dotline {
        height: 1px;
        width: 50px;
      }
    }

    @include mobile-only {
      .dotline {
        height: 1px;
        width: 20px;
      }
    }
  }

  .dotline {
    height: 60px;
    width: 1px;
    background-color: $white-color;
  }

  .dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 4px;
    cursor: pointer;

    background: none;
    border-radius: 50%;
    border: 1px solid $white-color;
    transition: 1s ease;

    &.active {
      background-clip: content-box;
      background-color: $light-secondary-color;
    }
  }
}

.zone-element {
  min-height: 525px;
  max-height: 525px;
  overflow: auto !important;

  @include mobile-only {
    min-height: auto;
    max-height: none;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  .zone-image {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid $secondary-color;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    @include tablet-only {
      display: none;
    }
  }

  .zone-image + .zone-header {
    margin-top: 0;
    border-top: 1px solid $secondary-color;

    @include tablet-only {
      border-top: none;
    }
  }

  .zone-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .zone-description {
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;

    .zone-description-bloc {
      margin-bottom: 10px;

      span:first-child {
        font-weight: bold;
      }
    }
  }

  .zone-comment {
    color: $secondary-color;
    text-align: center;
    font-style: italic;
  }
}

.glyphe-hover:hover {
  .glyphe01 {
    animation: anim01 4s infinite ease-in-out;

    @keyframes anim01 {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
  }

  .glyphe02 {
    animation: anim02 4s infinite ease-in-out;

    @keyframes anim02 {
      0% {
        transform: rotateY(0deg) rotateX(0deg);
      }
      100% {
        transform: rotateY(360deg) rotateX(360deg);
      }
    }
  }

  .glyphe03 {
    animation: anim03 4s infinite ease-in-out;

    @keyframes anim03 {
      0% {
        transform: rotateY(0deg) rotateX(360deg);
      }
      100% {
        transform: rotateY(360deg) rotateX(0deg);
      }
    }
  }

  .glyphe04 {
    animation: anim04 4s infinite ease-in-out;

    @keyframes anim04 {
      0% {
        transform: rotateY(360deg);
      }
      100% {
        transform: rotateY(0deg);
      }
    }
  }

  .glyphe05 {
    animation: anim05 4s infinite ease-in-out;

    @keyframes anim05 {
      0% {
        transform: rotateX(360deg);
      }
      100% {
        transform: rotateX(0deg);
      }
    }
  }
}

.creation-elements-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @include mobile-only {
    flex-direction: column;
  }
}

.creation-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;

  span {
    margin-bottom: 5px;
  }
}

.creation-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  background: $background-black-dark;
  overflow: hidden;
  cursor: pointer;

  img {
    height: 200px;
    width: 200px;
  }
}

.section-moreinfos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 3;
  font-style: italic;
  color: $secondary-color;

  @include mobile-only {
    flex-direction: column;
  }

  p {
    flex: 1;
  }
}

.table-large {
  .tbody {
    height: 50vh;
  }

  @include mobile-only {
    display: none;
  }
}

.line-table {
  &:hover {
    background-color: rgba($white-color, 0.2) !important;
  }

  &.to-select {
    cursor: pointer;
  }

  &.selected {
    background-color: rgba($white-color, 0.2) !important;
  }

  img {
    height: 50px;
    pointer-events: none;
  }

  p {
    text-align: left;
    font-style: italic;
    margin: 10px;
  }
}

.docs-grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &.grid-2 {
    grid-template-columns: repeat(2, 1fr);

    @include mobile-only {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @include tablet-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile-only {
    grid-template-columns: repeat(1, 1fr);
  }

  .docs-grid-element {
    display: flex;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    border-color: $secondary-color;
    border-spacing: 0;
    background: $background-black-dark;

    img {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      border: 1px solid $secondary-color;
      pointer-events: none;
    }

    .docs-grid-header {
      margin-bottom: 10px;
      font-family: $serif-font;
      color: $secondary-color;
      text-transform: uppercase;
    }

    .docs-grid-body {
      margin: 0;
      font-size: $font-size-m;
      // text-align: justify;
    }
  }
}

.side-menu {
  position: absolute;
  top: 50px;
  max-height: 75vh;
  padding: 10px 0;
  overflow: auto;
  border: 1px solid;
  border-color: $secondary-color;
  border-spacing: 0;
  background: $black-color;

  &.top {
    top: 0;
    padding: 0;
    max-height: none;
    max-width: calc(100% - 100px);
    border-top: none;
    border-radius: 0 0 5px 5px;

    @include tablet-only {
      max-width: calc(100% - 50px);
    }

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0 0 5px 5px;
    }

    .docs-grid-list {
      flex-direction: row;

      .docs-grid-element {
        padding: 5px 10px 10px 10px;
      }
    }
  }

  &.left {
    left: 0;
    border-left: none;
    border-radius: 0 5px 5px 0;
    direction: ltr;
  }

  &.right {
    right: 0;
    border-right: none;
    border-radius: 5px 0 0 5px;
    direction: rtl;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  .docs-grid-list {
    display: flex;
    flex-direction: column;
    direction: ltr;

    .docs-grid-element {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 5px 10px;
      text-align: left;
      border: none;
      border-radius: 0;
      background: none;

      &.selected {
        border: 1px solid $secondary-color;
        background: $secondary-color;
      }

      img {
        height: 40px;
        width: 40px;
        margin: 0;
        background: $black-color;
        pointer-events: all;
        cursor: pointer;
      }
    }
  }
}
