@import "@/styles/variables.scss";

* {
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Noto Serif", serif;
}

body {
  z-index: 1;
  color: $white-color;
  background: $black-color;
}

// Titres

h1 {
  margin: 0;
  font-size: 64px;
  line-height: 64px;
  font-weight: normal;
  text-transform: uppercase;
  color: $light-secondary-color;

  @include mobile-only {
    font-size: 32px;
    line-height: 32px;
  }
}

h2 {
  margin: 15px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: $light-secondary-color;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

p {
  margin: 0 0 15px 0;
  line-height: 135%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $white-color;
  text-decoration: none;
}

img {
  outline: none;
}

// Scrollbar

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $black-color;
}

::-webkit-scrollbar-thumb {
  background: $white-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-secondary-color;
}

// Inputs

input[type="file"] {
  display: none;
}

input[type="text"] {
  width: 200px;
}

input[type="number"] {
  width: 50px;
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-o-inner-spin-button,
input::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}

input[type="text"],
input[type="number"],
textarea {
  border: 1px solid $secondary-color;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Noto Serif", serif;

  color: $white-color;
  background: $black-color;
}

input[type="text"],
input[type="number"] {
  height: 30px;
  padding: 0 10px;
  overflow: hidden;

  @include mobile-only {
    width: 100%;
  }
}

textarea {
  height: 150px;
  width: 100%;
  padding: 10px;

  @include tablet-only {
    width: 50%;
  }

  @include mobile-only {
    width: 100%;
  }
}
