@import "@/styles/variables.scss";

* {
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  z-index: 1;
  font-size: 62.5%;
  color: $white-color;
  background: $black-color;

  * {
    font-size: $font-size-m;
    font-family: $sans-serif-font;
    line-height: 135%;
  }
}

// Titres

h1 {
  margin: 0;
  font-size: $font-size-xxl;
  line-height: $font-size-xxl;
  font-family: $serif-font;
  font-weight: normal;
  text-transform: uppercase;
  color: $light-secondary-color;

  @include mobile-only {
    font-size: $font-size-xl;
    line-height: $font-size-xl;
  }
}

h2 {
  margin: $spacing-m 0;
  font-size: $font-size-xl;
  line-height: $font-size-xl;
  font-family: $serif-font;
  font-weight: normal;
  text-transform: uppercase;
  color: $light-secondary-color;

  @include mobile-only {
    text-align: center;
  }
}

h3 {
  margin: 0;
  font-size: $font-size-l;
  text-transform: uppercase;
}

p {
  margin: 0 0 $spacing-m 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $white-color;
  text-decoration: none;
}

img {
  outline: none;
}

// Scrollbar

::-webkit-scrollbar {
  width: $spacing-m;
}

::-webkit-scrollbar-track {
  background: $black-color;
}

::-webkit-scrollbar-thumb {
  background: $white-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-secondary-color;
}

// Inputs

input[type="file"] {
  display: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-o-inner-spin-button,
input::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  border: $border;
  border-radius: $radius;
  font-size: $font-size-m;
  font-family: $sans-serif-font;
  color: $white-color;
  background: $black-color;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  height: $input-height;
  padding: 0 $spacing-m;
  overflow: hidden;

  @include mobile-only {
    width: 100%;
  }
}

input[type="checkbox"] {
  $height-size: 1.4rem;
  $padding-size: 0.3rem;
  $border-size: 0.1rem;

  height: $height-size;
  width: $height-size;
  border: $border;
  border-radius: $radius;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    height: calc($height-size - $padding-size * 2 - $border-size);
    width: calc($height-size - $padding-size * 2 - $border-size);
    margin: $padding-size;
    border-radius: calc($border-size * 2);
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    background: $secondary-color;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:disabled {
    border: none;
    background: transparent;
    cursor: default;
  }
}

input[type="range"] {
  $height-size: 0.4rem;

  height: $height-size;
  width: 100%;
  border-radius: calc($height-size / 2);
  background: $white-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  &::-webkit-slider-thumb {
    height: calc($height-size * 4);
    width: calc($height-size * 4);
    border: $height-size solid $black-color;
    border-radius: 50%;
    background: $secondary-color;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  &::-moz-range-thumb,
  &::-webkit-slider-thumb {
    height: calc($height-size * 4);
    width: calc($height-size * 4);
    border: $height-size solid $black-color;
    border-radius: 50%;
    background: $secondary-color;
    cursor: pointer;
  }
}

input[type="radio"] {
  $height-size: 1.5rem;

  display: grid;
  place-content: center;
  height: $height-size;
  min-width: $height-size;
  margin: 0;
  color: $secondary-color;
  border: $border;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  &::before {
    height: calc($height-size / 2);
    min-width: calc($height-size / 2);
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: $secondary-color;
    content: "";
  }

  &:checked::before {
    transform: scale(1);
  }
}

textarea {
  height: 15vh;
  width: 100%;
  padding: $spacing-m;

  &::-webkit-scrollbar {
    width: $spacing-s;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
  }
}

// Select / Dropdown

.dropdown {
  position: relative;
  overflow: hidden;
  height: $input-height;
  width: 100%;
  border-radius: $radius;
  border: $border;
  background: $black-color;
}

.dropdown:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: $spacing-m;
  right: $spacing-m;
  width: 0;
  height: 0;
  border: 0.5rem dashed;
  border-color: $black-color transparent;
  pointer-events: none;
}

.dropdown:after {
  border-bottom: none;
  border-top-style: solid;
  border-top-color: $secondary-color;
}

.dropdown-select {
  position: relative;
  height: $input-height;
  width: 100%;
  margin: 0;
  padding: 0 $input-height 0 $spacing-m;
  font-size: $font-size-m;
  font-family: $sans-serif-font;
  color: $white-color;
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0) !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.dropdown-select:focus {
  outline: none;
}

.dropdown-select > option {
  padding: $spacing-m;
  border-radius: $radius;
  background: $black-color;
  cursor: pointer;
}

// Table

table {
  width: 100%;
  padding: 0 !important;
  text-align: left;
  border-spacing: 0;

  &.table-max-height {
    tbody {
      max-height: 50vh;
      overflow: auto;
    }
  }

  thead > tr {
    display: flex;
    overflow: hidden;

    th {
      border-bottom: $border;
    }
  }

  thead,
  tbody {
    display: block;
    width: 100%;
  }

  tr {
    display: flex;
    border: none;
  }

  th,
  td {
    padding: $spacing-s;
    text-align: center;
  }

  .col-05 {
    width: 5%;
  }

  .col-20 {
    width: 20%;
  }

  .col-30 {
    width: 30%;
  }

  .col-40 {
    width: 40%;
  }

  .col-50 {
    width: 50%;
  }

  .col-55 {
    width: 55%;
  }

  .col-60 {
    width: 60%;
  }

  .col-70 {
    width: 70%;
  }

  .col,
  .col-100 {
    width: 100%;
  }
}
