$white-color: #e2e2e2;
$black-color: #020408;
$background-black-dark: rgba(#020408, 0.85);
$background-black-light: rgba(#020408, 0.15);

$dark-primary-color: #134457;
$primary-color: #1e7293;

$secondary-color: #f3e376;
$light-secondary-color: #fbf484;

$red-color: hsl(0, 80%, 50%);
$orange-color: hsl(20, 80%, 50%);
$yellow-color: hsl(50, 90%, 60%);
$green-color: hsl(100, 70%, 40%);
$turquoise-color: hsl(150, 70%, 40%);
$cyan-color: hsl(180, 80%, 50%);
$ocean-color: hsl(210, 80%, 50%);
$blue-color: hsl(250, 80%, 50%);
$violet-color: hsl(280, 90%, 60%);
$pink-color: hsla(320, 90%, 60%);
$grey-color: hsl(30, 20%, 80%);

$warning-color: $red-color;

// Variables pour la police d'écriture
$serif-font: "Noto Serif", Georgia, serif;
$sans-serif-font: "Montserrat", Helvetica, sans-serif;

$font-size-xxl: 64px;
$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-ml: 18px;
$font-size-m: 14px;
$font-size-s: 12px;

// Variables pour le responsive
$breakpoints: (
    tablet: 1023px,
    mobile: 674px,
);

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
