$white-color: #eeeeee;
$grey-color: #c4c4c3;
$black-color: #121210;

$dark-primary-color: #134457;
$primary-color: #247899;

$secondary-color: #dad090;
$light-secondary-color: #fcf8b0;

$red-color: #f03f3f;
$yellow-color: #f0f03f;
$green-color: #3ff03f;
$cyan-color: #3ff0f0;

$warning-color: $red-color;

// Variables pour le responsive
$breakpoints: (
    tablet: 1023px,
    mobile: 674px,
);

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
