.home-view {
    .home-container {
        opacity: 0;
        visibility: hidden;
        transition: 1s ease;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &::after {
            content: "";
            position: absolute;
            opacity: 1;
            top: 50px;
            left: 0;
            bottom: 51px;
            right: 0;
            z-index: -1;

            @include mobile-only {
                top: 51px;
                bottom: 101px;
            }

            background-position: center;
            background-size: cover;
        }

        &.container01::after {
            background-image: linear-gradient(
                    135deg,
                    rgba($black-color, 1),
                    rgba($black-color, 0.75),
                    rgba($black-color, 0.5),
                    rgba($primary-color, 0.5),
                    rgba($primary-color, 0.5)
                ),
                url("./assets/images/home_01.png");
        }

        &.container02::after {
            background-image: linear-gradient(
                    -45deg,
                    rgba($black-color, 1),
                    rgba($black-color, 0.75),
                    rgba($black-color, 0.5),
                    rgba($primary-color, 0.5),
                    rgba($primary-color, 0.5)
                ),
                url("./assets/images/home_02.png");
        }

        &.container03::after {
            background-image: linear-gradient(
                    135deg,
                    rgba($black-color, 1),
                    rgba($black-color, 0.75),
                    rgba($black-color, 0.5),
                    rgba($primary-color, 0.5),
                    rgba($primary-color, 0.5)
                ),
                url("./assets/images/home_03.png");
        }

        .home-subcontainer {
            position: absolute;
            top: 50%;
            left: 0;
            width: 35%;
            text-align: left;
            transform: translateX(40%) translateY(-50%);

            @include mobile-only {
                left: 0;
                width: 50%;
                transform: translateX(20%) translateY(-50%);

                p {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            &.inversed-container {
                left: auto;
                right: 0;
                text-align: right;
                transform: translateX(-25%) translateY(-50%);

                @include mobile-only {
                    right: 0;
                    transform: translateX(-35%) translateY(-50%);
                }
            }

            img {
                height: 200px;
                width: 375px;
                margin-left: -30px;

                @include mobile-only {
                    height: 125px;
                    width: 250px;
                    margin-left: -20px;
                }
            }
        }
    }

    .selection-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);

        .dot {
            display: inline-block;
            height: 20px;
            width: 20px;
            margin: 0;
            padding: 4px;
            cursor: pointer;

            background-color: none;
            border-radius: 50%;
            border: 1px solid $white-color;
            transition: 1s ease;

            &.active {
                background-clip: content-box;
                background-color: $light-secondary-color;
            }
        }

        .dotline {
            height: 60px;
            width: 1px;
            background-color: $white-color;
        }
    }
}

.roleplay-view {
    position: relative;
    display: flex;
    padding: 50px 0;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
            -45deg,
            rgba($black-color, 1),
            rgba($black-color, 0.75),
            rgba($black-color, 0.5),
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.5)
        ),
        url("./assets/images/home_02.png");

    &.little {
        background-image: linear-gradient(
                135deg,
                rgba($black-color, 1),
                rgba($black-color, 0.75),
                rgba($black-color, 0.5),
                rgba($primary-color, 0.5),
                rgba($primary-color, 0.5)
            ),
            url("/assets/images/home_00.png");
    }

    .title-container {
        width: 40%;
        margin: auto 0 auto 10%;
        text-align: left;

        &.inversed-container {
            width: 40%;
            margin: auto 10% auto 0;
            text-align: right;

            @include mobile-only {
                width: 80%;
                margin: auto 10%;
                text-align: center;
            }
        }

        @include mobile-only {
            width: 80%;
            margin: auto 10%;
            text-align: center;
        }
    }

    .glyphe-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;

        @include mobile-only {
            display: none;
        }
    }
}

.roleplay-view:hover {
    .glyphe01 {
        animation: anim01 4s infinite ease-in-out;

        @keyframes anim01 {
            0% {
                transform: rotateY(0deg);
            }
            100% {
                transform: rotateY(360deg);
            }
        }
    }

    .glyphe02 {
        animation: anim02 4s infinite ease-in-out;

        @keyframes anim02 {
            0% {
                transform: rotateY(0deg) rotateX(0deg);
            }
            100% {
                transform: rotateY(360deg) rotateX(360deg);
            }
        }
    }

    .glyphe03 {
        animation: anim03 4s infinite ease-in-out;

        @keyframes anim03 {
            0% {
                transform: rotateY(0deg) rotateX(360deg);
            }
            100% {
                transform: rotateY(360deg) rotateX(0deg);
            }
        }
    }

    .glyphe04 {
        animation: anim04 4s infinite ease-in-out;

        @keyframes anim04 {
            0% {
                transform: rotateY(360deg);
            }
            100% {
                transform: rotateY(0deg);
            }
        }
    }

    .glyphe05 {
        animation: anim05 4s infinite ease-in-out;

        @keyframes anim05 {
            0% {
                transform: rotateX(360deg);
            }
            100% {
                transform: rotateX(0deg);
            }
        }
    }
}

.layout-view {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 350px);
    padding: 50px 0;
    background-image: linear-gradient(
            135deg,
            rgba($black-color, 1),
            rgba($black-color, 0.75),
            rgba($black-color, 0.5),
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.5)
        ),
        url("/assets/images/home_00.png");

    @include tablet-only {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 25px 0;
    }

    .layout-center {
        width: 50%;
        text-align: center;

        @include tablet-only {
            width: 80%;
        }
    }

    .layout-left {
        width: 50%;
        margin: auto 0;
        text-align: center;

        @include tablet-only {
            width: 100%;
        }

        img {
            height: 550px;

            @include tablet-only {
                height: 350px;
            }
        }
    }

    .layout-right {
        width: 40%;
        margin: auto 10% auto 0;
        text-align: left;

        @include tablet-only {
            width: 80%;
            margin: auto 0;
            text-align: center;
        }
    }
}
