.home-view {
    .home-container {
        opacity: 0;
        visibility: hidden;
        transition: 1s ease;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &::after {
            top: 50px;
            bottom: 51px;

            @include mobile-only {
                top: 51px;
                bottom: 101px;
            }
        }

        .home-subcontainer {
            position: absolute;
            top: 50%;
            left: 0;
            width: 35%;
            text-align: left;
            transform: translateX(40%) translateY(-50%);

            @include mobile-only {
                left: 0;
                width: 50%;
                transform: translateX(20%) translateY(-50%);

                p {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            &.inversed-container {
                left: auto;
                right: 0;
                text-align: right;
                transform: translateX(-25%) translateY(-50%);

                @include mobile-only {
                    right: 0;
                    transform: translateX(-35%) translateY(-50%);
                }
            }

            img {
                height: 200px;
                width: 375px;
                margin-left: -30px;

                @include mobile-only {
                    height: 125px;
                    width: 250px;
                    margin-left: -20px;
                }
            }
        }
    }
}

.universe-view {
    .world-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include tablet-only {
            flex-direction: column-reverse;
        }
    }

    .world-left {
        width: 35%;
        text-align: left;

        @include tablet-only {
            width: 100%;
            margin-top: 20px;
        }

        .fact-image {
            height: 100%;
            width: 100%;
            border-top: 1px solid $secondary-color;
            border-bottom: 1px solid $secondary-color;
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

            @include tablet-only {
                display: none;
            }
        }

        .map-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $secondary-color;
        }

        .fact-description {
            max-height: 350px;
            padding: 10px 0;
            overflow-y: auto;
            border-top: 1px solid $secondary-color;
            border-bottom: 1px solid $secondary-color;

            @include tablet-only {
                max-height: 250px;
            }
        }

        .fact-comment {
            color: $secondary-color;
            text-align: center;
            font-style: italic;
        }

        ::-webkit-scrollbar {
            width: 6px;
        }
        ::-webkit-scrollbar-track {
            background: none;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
        }
    }

    .world-right {
        width: 60%;
        margin-left: 5%;

        @include tablet-only {
            width: 100%;
            margin-left: 0;
        }

        .map-title {
            margin: 0 10px;
            text-align: center;
        }

        .universe-map {
            width: 100%;
            padding: 0;
        }

        /*.map-icons {
            position: relative;
        }

        .map-icon {
            position: absolute;
            height: 50px;
            width: 50px;
            margin-top: -25px;
            margin-left: -25px;
            cursor: pointer;

            @media screen and (max-width: 700px) {
                height: 30px;
                width: 30px;
                margin-top: -15px;
                margin-left: -15px;
            }
        }

        .map-icon-00 {
            top: 45%;
            left: 76%;
        }

        .map-icon-01 {
            top: 42%;
            left: 72%;
        }

        .map-icon-02 {
            top: 69%;
            left: 73%;
        }

        .map-icon-03 {
            top: 76%;
            left: 76%;
        }

        .map-icon-04 {
            top: 20%;
            left: 20%;
        }*/
    }
}

.roleplay-view {
    position: relative;
    display: flex;
    padding: 50px 0;

    .title-container {
        width: 40%;
        margin: auto 0 auto 10%;
        text-align: left;

        &.inversed-container {
            width: 40%;
            margin: auto 10% auto 0;
            text-align: right;

            @include mobile-only {
                width: 80%;
                margin: auto 10%;
                text-align: center;
            }
        }

        @include mobile-only {
            width: 80%;
            margin: auto 10%;
            text-align: center;
        }
    }

    .glyphe-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;

        @include mobile-only {
            display: none;
        }
    }
}

.roleplay-view:hover {
    .glyphe01 {
        animation: anim01 4s infinite ease-in-out;

        @keyframes anim01 {
            0% {
                transform: rotateY(0deg);
            }
            100% {
                transform: rotateY(360deg);
            }
        }
    }

    .glyphe02 {
        animation: anim02 4s infinite ease-in-out;

        @keyframes anim02 {
            0% {
                transform: rotateY(0deg) rotateX(0deg);
            }
            100% {
                transform: rotateY(360deg) rotateX(360deg);
            }
        }
    }

    .glyphe03 {
        animation: anim03 4s infinite ease-in-out;

        @keyframes anim03 {
            0% {
                transform: rotateY(0deg) rotateX(360deg);
            }
            100% {
                transform: rotateY(360deg) rotateX(0deg);
            }
        }
    }

    .glyphe04 {
        animation: anim04 4s infinite ease-in-out;

        @keyframes anim04 {
            0% {
                transform: rotateY(360deg);
            }
            100% {
                transform: rotateY(0deg);
            }
        }
    }

    .glyphe05 {
        animation: anim05 4s infinite ease-in-out;

        @keyframes anim05 {
            0% {
                transform: rotateX(360deg);
            }
            100% {
                transform: rotateX(0deg);
            }
        }
    }
}

.races-view {
    .races-imgs {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0 auto 24px auto;

        @include tablet-only {
            width: 100%;
        }
    }

    .races-img {
        height: 125px;
        width: 125px;
        margin: 0 20px;
        border-radius: 50%;
        border: 2px solid $secondary-color;
        background-color: rgba($black-color, 0.4);
        cursor: pointer;

        @include mobile-only {
            display: none;
        }

        &.main {
            height: 200px;
            width: 200px;
            margin: 0 10px;
            border: 10px double $secondary-color;
            cursor: default;

            @include tablet-only {
                height: auto;
                width: 25%;
            }

            @include mobile-only {
                display: block;
                height: 125px;
                width: 125px;
                border: 2px solid $secondary-color;
            }
        }
    }

    .races-description {
        display: flex;
        flex-direction: column;
        max-height: 325px;
        width: 70%;
        margin: auto;
        overflow: auto;
        text-align: center;

        @include tablet-only {
            width: 100%;
        }

        .races-moreinfos {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-grow: 3;
            font-style: italic;
            color: $secondary-color;

            @include mobile-only {
                flex-direction: column;
            }

            p {
                flex: 1;
            }
        }
    }
}

.religion-view {
    .religion-list {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-row-gap: 20px;
        justify-content: center;

        @include mobile-only {
            grid-template-columns: repeat(5, 1fr);
        }

        img {
            height: 9vw;
            max-height: 140px;
            width: 9vw;
            max-width: 140px;
            margin: auto;
            cursor: pointer;
        }
    }

    .religion-description {
        display: flex;
        flex-direction: column;
        max-height: 325px;
        width: 70%;
        margin: auto;
        overflow: auto;
        text-align: center;

        @include tablet-only {
            width: 100%;
        }

        p {
            margin-top: 10px;
            color: $secondary-color;
            font-style: italic;
        }
    }
}

.magic-view {
    .magic-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mobile-only {
            flex-direction: column;
        }
    }

    .magic-zone-imgs {
        width: 50%;

        @include mobile-only {
            margin-top: 20px;
            width: 80%;
        }
    }

    .magic-zone-text {
        width: 50%;
        text-align: left;

        @include mobile-only {
            width: 100%;
            margin-top: 20px;
        }

        p {
            color: $secondary-color;
            font-style: italic;
        }
    }

    .magic-imgs {
        position: relative;
        height: 35vw !important;
        width: 35vw !important;
        max-height: 460px;
        max-width: 460px;
        margin: auto;

        @include mobile-only {
            height: 50vw !important;
            width: 50vw !important;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 35vw !important;
            width: 35vw !important;
            max-height: 460px;
            max-width: 460px;

            @include mobile-only {
                height: 50vw !important;
                width: 50vw !important;
            }
        }

        .crystal-main {
            animation: 3s infinite alternate animMain;
        }

        .crystal-data01 {
            opacity: 0;
            animation: 3s infinite alternate animMain, 6s infinite alternate animData;
        }

        .crystal-data02 {
            opacity: 0;
            animation: 3s infinite alternate animMain, 4s 2s infinite alternate animData;
        }

        .crystal-data03 {
            opacity: 0;
            animation: 3s infinite alternate animMain, 6s 4s infinite alternate animData;
        }

        @keyframes animMain {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(-50px);
            }
        }

        @keyframes animData {
            0% {
                opacity: 0;
            }
            20% {
                opacity: 0;
            }
            40% {
                opacity: 0;
            }
            60% {
                opacity: 1;
            }
            80% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

.layout-view {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 350px);
    padding: 50px 0;

    @include tablet-only {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 25px 0;
    }

    .layout-center {
        width: 50%;
        text-align: center;

        &.large {
            width: 80%;
        }

        @include tablet-only {
            width: 80%;
        }
    }

    .layout-left {
        width: 50%;
        margin: auto 0;
        text-align: center;

        @include tablet-only {
            width: 100%;
        }

        img {
            height: 550px;

            @include tablet-only {
                height: 350px;
            }
        }
    }

    .layout-right {
        width: 40%;
        margin: auto 10% auto 0;
        text-align: left;

        @include tablet-only {
            width: 80%;
            margin: auto 0;
            text-align: center;
        }
    }
}
