@import "../../../styles/variables.scss";

.crystal-single-view {
  min-height: calc(75vh + 100px);

  .group-img {
    height: 150px;
    border: 1px solid $secondary-color;
    background: $black-color;

    &.rounded {
      border-radius: 50%;
    }

    @include mobile-only {
      height: 100px;
    }
  }

  .crystals-main-description {
    width: 50%;
    margin: auto;
  }

  .crystals-docs {
    margin: 0 -10px -10px -10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
