@import "../../styles/variables.scss";

.glyphe-view {
	height: 20rem;
	width: 20rem;
	perspective: 40rem;

	@include tablet-only {
		height: 15rem;
		width: 15rem;
		perspective: 30rem;
	}

	&.little {
		height: 15rem;
		width: 15rem;
		perspective: 30rem;

		@include tablet-only {
			height: 10rem;
			width: 10rem;
			perspective: 20rem;
		}
	}

	.glyphe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		box-shadow:
			0 0 0.2rem $primary-color,
			inset 0 0 0.2rem $primary-color;

		@include tablet-only {
			box-shadow:
				0 0 0.1rem $primary-color,
				inset 0 0 0.1rem $primary-color;
		}
	}
}
