@import "../../styles/variables.scss";

.glyphe-view {
	height: 30rem;
	width: 30rem;
	perspective: 60rem;

	@include tablet-only {
		height: 20rem;
		width: 20rem;
		perspective: 30rem;
	}

	&.little {
		height: 25rem;
		width: 25rem;
		perspective: 50rem;

		@include tablet-only {
			height: 15rem;
			width: 15rem;
			perspective: 30rem;
		}
	}

	.glyphe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		box-shadow:
			0 0 0.4rem $primary-color,
			inset 0 0 0.4rem $primary-color;

		@include tablet-only {
			box-shadow:
				0 0 0.2rem $primary-color,
				inset 0 0 0.2rem $primary-color;
		}
	}
}
