@import "../../styles/variables.scss";

header {
	position: relative;
	z-index: 10;

	.header-icon {
		display: flex;
		align-items: center;
		padding: 0 $spacing-m;

		i {
			font-size: calc($nav-height - $spacing-m);
			line-height: calc($nav-height - $spacing-m);
			cursor: pointer;
		}
	}

	.header-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: $nav-height;
		background-color: $black-color;

		@include mobile-only {
			display: none;
		}

		.header-main {
			display: flex;
			align-items: center;
		}
	}

	.header-subsection {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 0;
		transform: translateY(-50%) scaleY(0);
		transition: 0.5s;
		background-color: $black-color;

		@include tablet-only {
			.link {
				font-size: 1rem;
			}
		}

		@include mobile-only {
			display: none;
		}

		&.active {
			height: $nav-height;
			transform: translateY(0%) scaleY(1);
		}

		.header-subtitle {
			border-left: $border;
			border-right: $border;
		}
	}

	.header-section,
	.header-subsection {
		nav {
			flex-flow: nowrap;
			display: flex;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	.header-mobile-section {
		display: none;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: $nav-height;
		background-color: $black-color;

		@include mobile-only {
			display: flex;
		}

		.header-main {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			width: 100%;
			border-bottom: $border;
		}
	}

	.header-mobile-subsection {
		position: relative;
		top: 0.1rem;
		bottom: 0;
		z-index: 1;
		display: none;
		background-color: $black-color;

		@include mobile-only {
			display: block;
		}

		nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			border-bottom: $border;
		}
	}
}

.header-toggle-button {
	position: absolute;
	z-index: 25;
	top: 0;
	left: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.8rem;
	width: 3.2rem;
	font-size: 1.6rem;
	transform: translate(-50%, -0.5rem) rotate(90deg);
	border-radius: 0 2rem 2rem 0;
	border: $border;
	background-color: $black-color;
	cursor: pointer;

	&.active {
		top: 9rem;
		transform: translate(-50%, -0.5rem) rotate(-90deg);
		border-radius: 2rem 0 0 2rem;
	}

	@include mobile-only {
		display: none;
	}
}
