@import "../../styles/variables.scss";

.about-view {
  flex-direction: row;

  @include mobile-only {
    flex-direction: column;
  }

  .about-left,
  .about-right {
    width: calc(50% - $spacing-m * 2);
    margin: auto $spacing-m;

    @include mobile-only {
      width: 100%;
    }
  }

  .about-left {
    img {
      width: 100%;
    }

    @include mobile-only {
      margin: 0 0 $spacing-l 0;
    }
  }

  .about-right {
    text-align: center;

    @include mobile-only {
      margin: 0;
    }
  }
}
