@import "../../../styles/variables.scss";

.races-view {
  .races-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto 2.4rem auto;

    @include tablet-only {
      width: 100%;
    }
  }

  .races-img {
    height: 12.5rem;
    width: 12.5rem;
    margin: 0 2rem;
    border-radius: 50%;
    border: $border;
    background-color: $background-black-dark;
    cursor: pointer;

    @include mobile-only {
      display: none;
    }

    &.main {
      height: 20rem;
      width: 20rem;
      margin: 0 1rem;
      border: 1rem double $secondary-color;
      cursor: default;

      @include tablet-only {
        height: auto;
        width: 25%;
      }

      @include mobile-only {
        display: block;
        height: 12.5rem;
        width: 12.5rem;
        border: $border;
      }
    }
  }

  .races-items {
    margin-top: 2rem;
    width: 100%;
  }

  .races-description {
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 70%;
    margin: auto;
    overflow: auto;
    text-align: center;

    @include tablet-only {
      height: 42.5rem;
      width: 100%;
    }

    @include mobile-only {
      height: auto;
    }
  }
}
