@import "../../../styles/variables.scss";

.races-view {
  .races-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: $spacing-m;

    @include tablet-only {
      width: 100%;
    }
  }

  .races-img {
    height: 8rem;
    width: 8rem;
    margin: 0 $spacing-l;
    border-radius: 50%;
    border: $border;
    background-color: $background-black-dark;
    cursor: pointer;

    @include mobile-only {
      display: none;
    }

    &.main {
      height: 14rem;
      width: 14rem;
      margin: 0 $spacing-m;
      border: 0.6rem double $secondary-color;
      cursor: default;

      @include tablet-only {
        height: auto;
        width: 25%;
      }

      @include mobile-only {
        display: block;
        height: 8rem;
        width: 8rem;
        border: $border;
      }
    }
  }

  .races-items {
    width: 100%;
    margin-top: $spacing-l;
  }

  .races-description {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    overflow: auto;
    text-align: center;

    @include tablet-only {
      width: 100%;
    }
  }
}
