@import "../../../styles/variables.scss";

.races-view {
  .races-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto 24px auto;

    @include tablet-only {
      width: 100%;
    }
  }

  .races-img {
    height: 125px;
    width: 125px;
    margin: 0 20px;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    background-color: $background-black-dark;
    cursor: pointer;

    @include mobile-only {
      display: none;
    }

    &.main {
      height: 200px;
      width: 200px;
      margin: 0 10px;
      border: 10px double $secondary-color;
      cursor: default;

      @include tablet-only {
        height: auto;
        width: 25%;
      }

      @include mobile-only {
        display: block;
        height: 125px;
        width: 125px;
        border: 2px solid $secondary-color;
      }
    }
  }

  .races-top {
    width: 100%;

    @include mobile-only {
      margin-top: 20px;
      width: 100%;
    }

    .races-grid {
      margin: -10px;
      margin-top: 10px !important;
    }
  }

  .races-description {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 70%;
    margin: auto;
    overflow: auto;
    text-align: center;

    @include tablet-only {
      height: 425px;
      width: 100%;
    }

    @include mobile-only {
      height: auto;
    }

    .races-moreinfos {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-grow: 3;
      font-style: italic;
      color: $secondary-color;

      @include mobile-only {
        flex-direction: column;
      }

      p {
        flex: 1;
      }
    }
  }
}
