@import "../../styles/variables.scss";

footer {
	position: relative;
	z-index: 10;

	.footer-infos {
		display: flex;
		height: 250px;
		border-top: 1px solid $secondary-color;
		background-color: $black-color;

		@include mobile-only {
			height: auto;
			flex-direction: column;
		}

		.footer-left {
			display: flex;
			width: 50%;
			margin: 20px 0;

			@include mobile-only {
				width: 100%;
			}

			.footer-container {
				width: 50%;
				padding: 0 20px;
				margin: auto;

				&:first-child {
					text-align: center;

					@include mobile-only {
						display: none;
					}
				}

				&:last-child {
					@include mobile-only {
						width: 80%;
					}
				}

				img {
					text-align: center;
					max-height: 150px;
					max-width: 100%;
				}
			}
		}

		.footer-right {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			margin: 20px 0;
			border-left: 1px solid $secondary-color;

			@include mobile-only {
				width: 100%;
				margin: 0;
				border-top: 1px solid $secondary-color;
				border-left: none;
			}
		}
	}

	.footer-navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		border-top: 1px solid $secondary-color;
		background-color: $black-color;

		nav {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}

	//////////////////////////////////////////////////////////////

	.footer-small {
		display: flex;
		justify-content: space-between;

		@include mobile-only {
			flex-direction: column;
		}

		.footer-section-mobile {
			display: none;

			@include mobile-only {
				display: flex;
				justify-content: center;
				height: 80px;
				width: 100%;
				border-top: 1px solid $secondary-color;
				background-color: $black-color;
			}
		}

		nav {
			display: flex;
			align-items: center;
			height: 50px;
			width: 100%;
			border-top: 1px solid $secondary-color;
			background-color: $black-color;

			@include mobile-only {
				justify-content: space-between;
			}
		}

		.footer-section {
			display: flex;
			align-items: center;
			height: 50px;
			width: 240px;
			border-top: 1px solid $secondary-color;
			background-color: $black-color;

			@include mobile-only {
				display: none;
			}
		}
	}
}
