@import "../../styles/variables.scss";

a {
	display: flex;
	align-items: center;
	color: $light-secondary-color;
	text-transform: uppercase;
	cursor: pointer;

	i {
		margin-right: 0;
		font-size: 0;
		transform: scaleX(0);
		transition: 0.5s;

		@include mobile-only {
			margin-right: 10px;
			font-size: $font-size-m;
			transform: scaleX(1);
		}
	}

	&:hover i {
		margin-right: 10px;
		font-size: $font-size-m;
		transform: scaleX(1);
	}
}
