@import "../../../styles/variables.scss";

.crystals-view {
  padding-top: 50px !important;

  .crystal-img {
    height: 125px;
    border: 1px solid $secondary-color;
    background: $black-color;

    &.rounded {
      height: 75px;
      border-radius: 50%;

      @include tablet-only {
        height: 50px;
      }
    }

    @include tablet-only {
      height: 75px;
    }
  }

  .crystals-layout {
    display: flex;

    .crystals-center {
      display: flex;
      align-items: center;
      width: 100%;

      @include tablet-only {
        padding: 10px;
      }

      .crystals-section-top {
        width: 33.33%;
        margin: 10px 0;
      }
    }

    .crystals-left {
      width: calc(66.66% - 5px);
      margin-right: 5px;
    }

    .crystals-right {
      width: calc(33.33% - 5px);
      margin-left: 5px;
    }
  }

  .crystals-separator {
    height: 100%;
    width: 1px;
    margin: 0 25px;
    background: $secondary-color;

    @include tablet-only {
      margin: 0 10px;
    }
  }

  .power-separator {
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background: $secondary-color;
  }

  .power-line {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .power-txt {
      margin-left: 10px;
      text-align: left;
    }
  }

  .powers-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 24px;
    padding: 15px 0;
    border: 1px solid $secondary-color;
    background: $black-color;

    @include tablet-only {
      grid-template-columns: repeat(1, 1fr);
    }

    .powers-content-title {
      position: absolute;
      top: -15px;
      left: 20px;
      padding: 0 10px;
      text-transform: uppercase;
      border: 1px solid $secondary-color;
      background: $black-color;
    }

    .power-line {
      width: auto;
      margin: 0;
      padding: 0 10px;

      &.selected {
        color: $black-color;
        background: $secondary-color;
      }
    }
  }
}
