@import "../../../styles/variables.scss";

.crystals-view {
  padding-top: 5rem !important;

  .crystal-img {
    height: 12.5rem;
    border: 0.1rem solid $secondary-color;
    background: $black-color;

    &.rounded {
      height: 7.5rem;
      border-radius: 50%;

      @include tablet-only {
        height: 5rem;
      }
    }

    @include tablet-only {
      height: 7.5rem;
    }
  }

  .crystals-layout {
    display: flex;
    width: 100%;

    .crystals-top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      @include tablet-only {
        padding: 1rem;
      }

      .crystals-section {
        width: 33.33%;
        margin: 1rem 0;
        text-align: center;
      }
    }

    .crystals-left {
      width: calc(66.66% - 0.5rem);
      margin-right: 0.5rem;
      text-align: center;
    }

    .crystals-right {
      width: calc(33.33% - 0.5rem);
      margin-left: 0.5rem;
      text-align: center;
    }
  }

  .crystals-separator {
    height: 100%;
    width: 0.1rem;
    margin: 0 2.5rem;
    background: $secondary-color;

    @include tablet-only {
      margin: 0 1rem;
    }
  }

  .power-separator {
    height: 0.1rem;
    width: 100%;
    margin: 1.5rem 0;
    background: $secondary-color;
  }

  .power-line {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .power-txt {
      margin-left: 1rem;
      text-align: left;
    }
  }

  .powers-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 2.4rem;
    padding: 1.5rem 0;
    border: 0.1rem solid $secondary-color;
    background: $black-color;

    @include tablet-only {
      grid-template-columns: repeat(1, 1fr);
    }

    .powers-content-title {
      position: absolute;
      top: -1.5rem;
      left: 2rem;
      padding: 0 1rem;
      text-transform: uppercase;
      border: 0.1rem solid $secondary-color;
      background: $black-color;
    }

    .power-line {
      width: auto;
      margin: 0;
      padding: 0 1rem;

      &.selected {
        color: $black-color;
        background: $secondary-color;
      }
    }
  }
}
