@import "../../../styles/variables.scss";

.crystals-view {
  padding-top: 5rem !important;

  .crystal-img {
    height: 8rem;
    border: $border;
    background: $black-color;

    &.rounded {
      height: 6rem;
      border-radius: 50%;

      @include tablet-only {
        height: 4rem;
      }
    }

    @include tablet-only {
      height: 6rem;
    }
  }

  .crystals-layout {
    display: flex;
    width: 100%;

    .crystals-top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      @include tablet-only {
        padding: $spacing-m;
      }

      .crystals-section {
        width: 33.33%;
        margin: $spacing-m 0;
        text-align: center;
      }
    }

    .crystals-left {
      width: calc(66.66% - $spacing-s);
      margin-right: $spacing-s;
      text-align: center;
    }

    .crystals-right {
      width: calc(33.33% - $spacing-s);
      margin-left: $spacing-s;
      text-align: center;
    }
  }

  .crystals-separator {
    height: 100%;
    width: 0.1rem;
    margin: 0 $spacing-m;
    background: $secondary-color;
  }

  .power-separator {
    height: 0.1rem;
    width: 100%;
    margin: $spacing-m 0;
    background: $secondary-color;
  }

  .power-line {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: $spacing-m;
    }

    .power-txt {
      margin-left: $spacing-m;
      text-align: left;
    }
  }

  .powers-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spacing-m;
    margin-top: $spacing-l;
    padding: $spacing-m 0;
    border: $border;
    background: $black-color;

    @include tablet-only {
      grid-template-columns: repeat(1, 1fr);
    }

    .powers-content-title {
      position: absolute;
      top: calc(0rem - $font-size-m);
      left: $spacing-l;
      padding: 0 $spacing-m;
      text-transform: uppercase;
      border: $border;
      background: $black-color;
    }

    .power-line {
      width: auto;
      margin: 0;
      padding: 0 $spacing-m;

      &.selected {
        color: $black-color;
        background: $secondary-color;
      }
    }
  }
}
