@import "../../styles/variables.scss";

.expand-bloc {
	width: 100%;
	border-radius: $radius;
	background: $background-black-dark;
	overflow: hidden;

	.expand-bloc-title {
		padding: $spacing-m $spacing-l;
		font-family: $serif-font;
		font-weight: bold;
		text-transform: uppercase;
		color: $secondary-color;
		cursor: pointer;

		&.selected {
			color: $black-color;
			background: $secondary-color;
		}
	}

	.expand-bloc-content {
		padding: 0 $spacing-l;
		max-height: 0;
		overflow: hidden;

		&.selected {
			padding-top: $spacing-m;
			padding-bottom: $spacing-m;
			max-height: none;
		}
	}
}
