@import "../../styles/variables.scss";

.expand-bloc {
	line-height: 1.5;
	border-radius: 5px;
	background: $background-black-dark;
	overflow: hidden;

	.expand-bloc-title {
		padding: 10px 25px;
		font-family: $serif-font;
		font-weight: bold;
		text-transform: uppercase;
		color: $secondary-color;
		cursor: pointer;

		&.selected {
			color: $black-color;
			background: $secondary-color;
		}
	}

	.expand-bloc-content {
		padding: 0 25px;
		max-height: 0;
		overflow: hidden;

		&.selected {
			padding-top: 10px;
			padding-bottom: 10px;
			max-height: none;
		}
	}
}
