@import "../../styles/variables.scss";

.home-view {
  .home-container {
    opacity: 0;
    visibility: hidden;
    transition: 1s ease;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &::after {
      top: $nav-height;
      bottom: calc($nav-height + 0.1rem);
    }

    .home-subcontainer {
      position: absolute;
      top: 50%;
      left: 0;
      width: 35%;
      text-align: left;
      transform: translateX(40%) translateY(-50%);

      @include mobile-only {
        left: 0;
        width: 50%;
        transform: translateX(20%) translateY(-50%);

        p {
          margin-top: $spacing-m;
          margin-bottom: $spacing-m;
        }
      }

      &.inversed-container {
        left: auto;
        right: 0;
        text-align: right;
        transform: translateX(-25%) translateY(-50%);

        @include mobile-only {
          right: 0;
          transform: translateX(-35%) translateY(-50%);
        }
      }

      img {
        height: 12rem;
        margin-left: -2rem;

        @include mobile-only {
          height: 8rem;
          margin-left: -1rem;
        }
      }
    }
  }
}
