@import "../../../styles/variables.scss";

.creation-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 9rem);

  .creation-content {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem;
    border: $border;
    border-radius: $radius;
    background: $background-black-dark;
    overflow: auto;
  }

  .creation-content-nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;

    button:not(:first-child) {
      margin-left: 2rem;
    }
  }
}

.creation-column {
  width: 100%;
  text-align: center;

  &:first-child {
    margin-right: 2rem;
  }

  &:last-child {
    margin-left: 2rem;
  }

  .creation-img {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    border-radius: 50%;
    border: $border;
    background-color: $background-black-dark;
  }

  .creation-description {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.5rem;
    overflow: auto;
  }

  .creation-table {
    display: block;
    max-height: 100%;
    overflow: auto;
  }

  .creation-img-perso {
    display: block;
    height: 100%;
    max-height: 40vw;
    margin: auto;
    padding: 0;
  }

  .power-line {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .power-txt {
      margin-left: 1rem;
      text-align: left;
    }
  }
}

.creation-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  text-align: center;
  border-radius: $radius;
  border: $border;
  background: $background-black-dark;
  overflow: hidden;
  cursor: pointer;

  img {
    height: 20rem !important;
    width: 20rem !important;
  }
}
