@import "../../../styles/variables.scss";

.creation-view {
  display: flex;
  flex-direction: column;
  height: 80vh;

  .creation-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @include tablet-only {
      flex-direction: column;
      align-items: center;
      width: 80%;
    }

    .layout-left,
    .layout-right {
      text-align: center;
      width: 100%;
    }
  }
}

.creation-form {
  .creation-img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    background-color: $background-black-dark;

    @include tablet-only {
      height: auto;
      width: 25%;
    }

    @include mobile-only {
      display: block;
      height: 125px;
      width: 125px;
      border: 2px solid $secondary-color;
    }
  }

  .creation-description {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    padding: 25px;
    overflow: auto;

    @include mobile-only {
      height: auto;
    }
  }

  .creation-nav-button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .race-grid {
    margin: -10px;
  }
}
